<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
  
  <div class="row d-flex justify-content-end">
    <div class="col-4 text-end">
      <button onclick="spinner()" class="btn btn-primary" id="button" type="submit" form="aaCompetenceWeights">SAVE  AA CHANGES</button>
    </div>
  </div>

  <form action="/settings/defCompWeightsSetup/" id="aaCompetenceWeights" method="POST">
    <div class="row py-4">
          <table class="display" id="aaTable">
            <thead class="text-center">
              <tr>
                <th scope="col">Code</th>
                <th scope="col">Name</th>
                <th scope="col">Weight<i class="fas fa-balance-scale-right ms-2 fs-6"></i></th>
              </tr>
            </thead>
            <tbody class="text-center">
              <% i = 0 %> 
              <% aaData.forEach( item => { %>
                <% i++ %> 
                <tr>
                  <td><%= item.code %></td>
                  <td><%= item.name %></td>
                  <td class="d-flex">
                    <input type="range" class="form-range" min="0" max="10" step="1" value="<%= item.weight %>" name="<%= item.code %>" onchange="updateNumAAInput(this.value, <%= i %>);">
                    <input type="text" class="ms-2 form-control rounded-circular" style="max-width: 50px;" id="AAnumber<%= i %>" value="<%= item.weight %>" readonly>
                  </td>
                </tr>
              <% }) %> 
            </tbody>
          </table>
    </div>
  </form>
</div>



